{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update Holiday Information</h4>
	<!-- .card -->
	<div class="card">
		<!-- .card-body -->
		<div class="card-body">
			<div>
				<!--form method="post" novalidate-->
				<form method="post" id="edit_form" data-url="{% url 'finance-holiday-edit' id %}" class="update-form">
					{% csrf_token %}
					<div class="form-row">
											<div class="form-group col-md-4 mb-0">
												{{ form.holiday_date|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.holiday_description|as_crispy_field }}
											</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
</div>

<script src="{% static 'assets/javascript/pages/finance/finance-holiday-edit.js' %}"></script>