{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Employee Information</h4>
	<!-- .card -->
	<div class="card">
		<!-- .card-body -->
		<div class="card-body">
			<div>
				<!--form method="post" novalidate-->
				<form method="post" id="edit_form" data-url="{% url 'finance-employee-edit' id %}" class="update-form"> 
					{% csrf_token %}
					                       <div class="form-row">
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_id|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_name|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_br_code|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_sex|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_father_name|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_mother_name|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_joining_date|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_presnt_addr|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_permanent_addr|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
												{{ form.emp_birth_date|as_crispy_field }}
											</div>
											<div class="form-item col-md-4 mb-0">
											{{ form.emp_nid_num|as_crispy_field }}
											</div>
										<div class="form-item col-md-4 mb-0">
											{{ form.emp_religion|as_crispy_field }}
										</div>
										<div class="form-item col-md-4 mb-0">
											{{ form.emp_blood_group|as_crispy_field }}
										</div>
										<div class="form-item col-md-4 mb-0">
											{{ form.emp_education|as_crispy_field }}
										</div>
										<div class="form-item col-md-4 mb-0">
											{{ form.emp_marital_status|as_crispy_field }}
										</div>
										<div class="form-item col-md-4 mb-0">
											{{ form.emp_mobile_num|as_crispy_field }}
										</div>
										<div class="form-item col-md-4 mb-0">
											{{ form.emp_desig_id|as_crispy_field }}
										</div>
										<div class="form-item col-md-4 mb-0">
											{{ form.emp_status|as_crispy_field }}
										</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
</div>

<script src="{% static 'assets/javascript/pages/finance/finance-employee-edit.js' %}"></script>






