{% extends './finance-home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
My Collection | MicroFinance Solution
{% endblock %}

{% block body %}

<body>
  <!-- .app -->
  <div class="app">
    <div class="page">

      <!-- grid column -->
         <!-- .card -->
        <div class="card card-fluid">
          <!-- .card-body -->
          <div class="card-body">
            <div class="form-group">
                  <div class="card card-fluid">
                    <!-- .card-body -->
                    <div class="card-body">
                      <h4 class="card-title"> Collection Details </h4><!-- .el-example -->
                      <form>
                        <div class="form-row">
                          <div class="form-group col-md-3 mb-0">
                            {{ forms.phone_number | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-3 mb-0">
                            {{ forms.products_type | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-3 mb-0">
                            {{ forms.branch_code | as_crispy_field }}
                          </div>
                          <div class="form-group col-md-3 mb-0">
                            {{ forms.somity_code | as_crispy_field }}
                          </div>
						  <div>
						  <button type="button" id="btnSearchStockMst" class="btn btn-primary"> Search Collection</button>
						  </div>
                        </div>
                      </form>

                    </div><!-- /.card-body -->
                  </div><!-- /.card -->
                </div>


                <header class="card-title-bar">
                  <h3 class="card-title text-center"> Collection List </h3>
                </header><!-- /.page-title-bar -->
                <!-- .page-section -->
                   <!-- .card -->
                  <div class="card card-fluid">
                    <!-- .card-body -->
                    <div class="card-body">
                      <!-- .table -->
                      <table id="dt-table-list" class="table dt-responsive nowrap w-100">
                        <thead>
                          <tr>
						    <th> Member Name </th>
							<th> Phone Number </th>
							<th> Account Number </th>
							<th> Form Number </th>
							<th> Last Payment Date </th>
							<th> Installment Amount </th>
							<th> Installment Due Amount </th>
							<th> Total Charge Amount </th>
							<th> Total Receivable Amount </th>
							<th> Total Due Installment </th>
							<th> Total Missed Installment </th>
                            <th> Action</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
						    <th> Member Name </th>
							<th> Phone Number </th>
							<th> Account Number </th>
							<th> Form Number </th>
							<th> Last Payment Date </th>
							<th> Installment Amount </th>
							<th> Installment Due Amount </th>
							<th> Total Charge Amount </th>
							<th> Total Receivable Amount </th>
							<th> Total Due Installment </th>
							<th> Total Missed Installment </th>
                            <th> Action</th>
                          </tr>
                        </tfoot>
                      </table><!-- /.table -->
                    </div><!-- /.card-body -->
                  </div><!-- /.card -->
                </div><!-- /.page-section -->
              </div>
            </div>
          </div><!-- /.card-body -->
		  
	<div class="modal fade" id="edit_model" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			</div>
		</div>
	</div>

  {% endblock body %}

  {% block js %}
  <script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
  <script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
  <!-- END PLUGINS JS -->
  <script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>

  <script src="{% static 'assets/javascript/pages/finance/finance-instcollect-transaction.js' %}"></script>
  <!-- END PAGE LEVEL JS -->
  {% endblock %}
</body>