{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update Client Information </h4>
	<!-- .card -->
	<div class="card">
		<!-- .card-body -->
		<div class="card-body">
			<div>
				<!--form method="post" novalidate-->
				<form method="post" id="edit_form" data-url="{% url 'finance-clients-edit' id %}" class="update-form"  enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-4 mb-0">
							{{ form.client_name|as_crispy_field }}
						</div>
					  <div class="form-group col-md-4 mb-0">
						{{ form.client_referred_by|as_crispy_field }}
					  </div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_falther_name|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_mother_name|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_phone|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_national_id|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_present_address|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_permanent_address|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_status|as_crispy_field }}
						</div>
			  <div class="form-group col-md-4 mb-0">
				{{ form.client_joining_date|as_crispy_field }}
			  </div>
			  <div class="form-group col-md-4 mb-0">
				{{ form.client_profession|as_crispy_field }}
			  </div>
			  <div class="form-group col-md-4 mb-0">
				{{ form.monthly_income|as_crispy_field }}
			  </div>
			  <div class="form-group col-md-4 mb-0">
				{{ form.income_source_details|as_crispy_field }}
			  </div>	
						<div class="form-group col-md-4 mb-0">
							{{ form.client_blood_group|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_sex|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_religion|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_marital_status|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_email|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_date_of_birth|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.client_naration|as_crispy_field }}
						</div>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
</div>

<script src="{% static 'assets/javascript/pages/finance/finance-clients-edit.js' %}"></script>