{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update Account Transaction Profile</h4>
	<!-- .card -->
	<div class="card">
		<!-- .card-body -->
		<div class="card-body">
			<div>
				<!--form method="post" novalidate-->
				<form method="post" id="edit_form" data-url="{% url 'finance-tpaccounts-edit' id %}" class="update-form">
					{% csrf_token %}
					<div class="form-row">

											<div class="form-group col-md-4 mb-0">
												{{ form.phone_number|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.account_number|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.account_title|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.transaction_frequency|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.max_debit_count|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.max_credit_count|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.max_debit_amount|as_crispy_field }}
											</div> 
											<div class="form-group col-md-4 mb-0">
												{{ form.max_credit_amount|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.max_debit_amount_pct|as_crispy_field }}
											</div> 
											<div class="form-group col-md-4 mb-0">
												{{ form.max_credit_amount_pct|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.minimum_balance_required|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.minimum_bal_required_pct|as_crispy_field }}
											</div> 
											<div class="form-group col-md-4 mb-0">
												{{ form.status|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.comments|as_crispy_field }}
											</div> 
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
</div>

<script src="{% static 'assets/javascript/pages/finance/finance-tpaccounts-edit.js' %}"></script>