{% load static %}
{% load crispy_forms_tags %}

<div class="modal-header"> </div>
{% csrf_token %}
<div class="container">
	<h4 align="center">Update {{title}} Information</h4>
	<div class="card">
		<div class="card-body">
			<div>
				<form method="post" id="edit_form" data-url="{% url 'hrm-employee-nominee-edit'  id %}" class="update-form">
					{% csrf_token %}
					<div class="form-row">
						<div class="form-group col-md-4 mb-0">
							{{ form.employee_id|as_crispy_field }}
						</div> 

						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_serial|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_name|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_sex|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_father_name|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_mother_name|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_present_addr|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_permanent_addr|as_crispy_field }}
						</div> 											
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_birth_date|as_crispy_field }}
						</div> 
						<div class="form-group col-md-4 mb-0">
							{{ form.country_id|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_nid_num|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_blood_group|as_crispy_field }}
						</div>
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_mobile_num|as_crispy_field }}
						</div>										
						<div class="form-group col-md-4 mb-0">
							{{ form.nominee_religion|as_crispy_field }}
						</div>	

					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger btn-default pull-right" data-dismiss="modal">Close</button>
				<button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
			</div>
			</form>
			<div>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'assets/javascript/pages/common-submit-editdata.js' %}"></script>