{% extends 'finance/finance-home.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Deposit Account Migration | MicroFinance Solution
{% endblock %}

{% block body %}

<div class="row">
	<!-- grid column -->
	<div class="col-lg-12">
		<!-- .card -->
		<div class="card card-fluid">
			<!-- .card-body -->
			<div class="card-body">
				<div>
					<!--form method="post" novalidate-->
					<form method="post" id="tran_table_data" data-url="{% url 'finance-mig-depacopen-insert' %}"
						class="update-form">
						<div class="form-group">
							<!-- .card -->
							<div class="card">
								<!-- .card-body -->
								<div class="card-body">
									<div class="form-row">
										<div class="form-group col-md-10 mb-0">
											<h3 class="card-title"> Deposit Account Migration</h3>
											<!-- form .needs-validation -->
										</div>
									</div>
									<div>
										<!--form method="post" novalidate-->
										{% csrf_token %}
										<div class="form-row">
											<div class="form-group col-md-4 mb-0">
												{{ form.products_code|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.products_name|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.somity_code|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.deposit_schedule_code|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.account_effective_date|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.phone_number|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.account_title|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.form_number|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.reference_by|as_crispy_field }}
											</div> 
											<div class="form-group col-md-4 mb-0">
												{{ form.mig_account_balance|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.number_of_installment|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.installment_amount|as_crispy_field }}
											</div> 
											<div class="form-group col-md-4 mb-0">
												{{ form.total_due_installment_number|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.number_of_installment_paid|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.total_installment_amount_paid|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.total_due_installment_amount|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.installment_amount_adv_paid|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.total_int_cr_amount|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.total_int_dr_amount|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.total_principal_amount|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.total_interest_amount|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0">
												{{ form.total_maturity_amount|as_crispy_field }}
											</div>
											<div class="form-group col-md-4 mb-0"> 
												{{ form.interest_rate|as_crispy_field }}
											</div> 
											<div class="form-group col-md-4 mb-0">
												{{ form.account_comments|as_crispy_field }}
											</div>
										</div>										
										<button type="button" id="btnAddItem" class="btn btn-primary">Open New Account</button>
										<button type="button" id="btnSearch" class="btn btn-info pull-right"> Search Account</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div><!-- /.card-body -->
			</div><!-- /.card -->
		</div>
		<!-- /grid column -->
	</div>
	<!-- .app -->
	<div class="app">

		<div class="card card-fluid">
			<!-- .card-body -->
			<div class="card-body">
				<!-- .table -->
				<table id="dt-table-list" class="table dt-responsive nowrap w-100">
					<thead>
						<tr>
							<th> Account Number </th>
							<th> Account Name </th>
							<th> Form Number </th>
							<th> Ac Type </th>
							<th> Simple/Compound </th>
							<th> Simple/Compound Frequency </th>
							<th> Interest Rate </th>
							<th> Interest Calculation Frequency </th>
							<th> Interest Balance On </th>
							<th> Interest Payment Frequency </th>
							<th> Effective Date </th>
							<th> Total Deposit </th>
							<th> Total Withwral </th>
							<th> Current Balance </th>
							<th> Colsing Date </th>
							<th> Action</th>
						</tr>
					</thead>	
					<tfoot>
						<tr>
							<th> Account Number </th>
							<th> Account Name </th>
							<th> Form Number </th>
							<th> Ac Type </th>
							<th> Simple/Compound </th>
							<th> Simple/Compound Frequency </th>
							<th> Interest Rate </th>
							<th> Interest Calculation Frequency </th>
							<th> Interest Balance On </th>
							<th> Interest Payment Frequency </th>
							<th> Effective Date </th>
							<th> Total Deposit </th>
							<th> Total Withwral </th>
							<th> Current Balance </th>
							<th> Colsing Date </th>
							<th> Action</th>
						</tr>
					</tfoot>
				</table><!-- /.table -->
			</div><!-- /.card-body -->
		</div><!-- /.card -->
	</div><!-- /.page-section -->

	<div class="modal fade" id="edit_model" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
			</div>
		</div>
	</div>

	{% endblock body %}

	{% block js %}
	<script src="{% static 'assets/vendor/datatables/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/dataTables.responsive.min.js' %}"></script>
	<script src="{% static 'assets/vendor/datatables/extensions/responsive/responsive.bootstrap4.min.js' %}"></script>
	<!-- END PLUGINS JS -->
	<script src="{% static 'assets/javascript/pages/dataTables.bootstrap.js' %}"></script>
	<script src="{% static 'assets/javascript/pages/finance_migration/finance-depacopen-createlist.js' %}"></script>
	<!-- END PAGE LEVEL JS -->

	{% endblock %}
	</body>